# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm
.idea/

# Python virtual environment
venv/
env/
ENV/

*target/
firmware.asm
firmware.hex